---
import Github from '../../icons/Github.astro'
import Linkedin from '../../icons/Linkedin.astro'
import Mail from '../../icons/Mail.astro'
import Phone from '../../icons/Phone.astro'
import { getI18N } from '../../i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class='py-2'>
    <div class='mb-1.5 flex flex-wrap items-center justify-between gap-1.5'>
        <section class='leading-4'>
            <h1 class='text-xl font-bold text-black dark:text-white'>
                {i18n.VL_ABOUT_ME_TITLE}
            </h1>
            <span
                class='font-sm inline-flex items-center rounded-md bg-black px-2 py-1 text-xs text-white dark:bg-white dark:text-black'
                >{i18n.VL_ABOUT_ME_BADGE}
            </span>
        </section>
        <section>
            <ul
                class='grid grid-flow-col grid-rows-1 gap-x-2 gap-y-1 text-black dark:text-white sm:grid-rows-2'>
                <li>
                    <a
                        href='https://github.com/KrizRoMe'
                        target='_blank'
                        aria-label='Read more about Github'>
                        <Github />
                    </a>
                </li>
                <li>
                    <a
                        href='https://www.linkedin.com/in/cristopher-moises-romero-medrano-a28583298/'
                        target='_blank'
                        aria-label='Read more about Linkedin'>
                        <Linkedin />
                    </a>
                </li>
                <li>
                    <a
                        href='mailto:cmromero1231@gmail.com'
                        target='_blank'
                        aria-label='Send a message'>
                        <Mail />
                    </a>
                </li>
                <li>
                    <a
                        href='tel:+51986550234'
                        target='_blank'
                        aria-label='Call by cellphone'>
                        <Phone />
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <article class='text-pretty text-black dark:text-white'>
        <p set:html={i18n.VL_ABOUT_ME_DESCRIPTION_1} />
        <p set:html={i18n.VL_ABOUT_ME_DESCRIPTION_2} />
        <p set:html={i18n.VL_ABOUT_ME_DESCRIPTION_3} />
    </article>
</section>
<hr class='border-b border-black dark:border-white' />

