---
import ExperienceItem from '../ExperienceItem.astro'
import { getI18N } from '../../i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class='py-2'>
    <h2 class='mb-1.5 text-xl font-bold text-black dark:text-white'>
        {i18n.VL_EXPERIENCE_TITLE}
    </h2>
    <ol
        class='space-y-1.5 border-l border-black leading-normal text-black dark:border-white dark:text-white'>
        <ExperienceItem
            date={i18n.VL_EXPERIENCE_ITEM_DATE_1}
            title={i18n.VL_EXPERIENCE_ITEM_TITLE_1}>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
        </ExperienceItem>
        <ExperienceItem
            date={i18n.VL_EXPERIENCE_ITEM_DATE_1}
            title={i18n.VL_EXPERIENCE_ITEM_TITLE_1}>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
        </ExperienceItem>
        <ExperienceItem
            date={i18n.VL_EXPERIENCE_ITEM_DATE_1}
            title={i18n.VL_EXPERIENCE_ITEM_TITLE_1}>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
        </ExperienceItem>
        <ExperienceItem
            date={i18n.VL_EXPERIENCE_ITEM_DATE_1}
            title={i18n.VL_EXPERIENCE_ITEM_TITLE_1}>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
            <li>
                {i18n.VL_EXPERIENCE_ITEM_DESCRIPTION_1}
            </li>
        </ExperienceItem>
    </ol>
</section>
<hr class='border-b border-indigo-500' />
